<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GitHub User Info</title>
</head>
<body>
    <h1>GitHub User Information</h1>
    
    <h2>Repositories</h2>
    <ul>
        <li th:each="repo : ${repos}">
            <p th:text="'Name: ' + ${repo['name']}"></p>
            <p th:text="'Description: ' + ${repo['description']}"></p>
        </li>
    </ul>

    <h2>Followers</h2>
    <ul>
        <li th:each="follower : ${followers}">
            <p th:text="'Username: ' + ${follower['login']}"></p>
        </li>
    </ul>
</body>
</html>
